@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');

body {
  background-image: url(../images/Frame_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.color-green {
  color: #C8C969;
}

.color-green-dark {
  color: #5B7C22;
}

.color-blue {
  color: #4EA386;
}

.color-brown {
  color: #6F4411;
}
.name {
  font-size: 65px;
}

button {
  color: #E4E5A3;
  background-color: #739C2E;
  font-size: 32px;
  border-radius: 10px;
  padding: 20px;
  border: none;
  box-shadow: 5px 10px #5B7C22;
  cursor: pointer;
  margin-left: 320px;
  margin-bottom: 50px;
}
